<!--  Post Footer-->
{% if page.modifica != none %}
    <div class="well well-sm">
    {% assign m = page.modifica | date: "%-m" %}
    ultima modifica: {{ page.modifica | date: "%-d" }}
    {% case m %}
        {% when '1' %}gennaio
        {% when '2' %}febbraio
        {% when '3' %}marzo
        {% when '4' %}aprile
        {% when '5' %}maggio
        {% when '6' %}giugno
        {% when '7' %}luglio
        {% when '8' %}agosto
        {% when '9' %}settembre
        {% when '10' %}ottobre
        {% when '11' %}novembre
        {% when '12' %}dicembre
    {% endcase %}
    {{ page.modifica | date: "%Y" }}
    {% assign m = post.date | date: "%-m" %}
    </div>
{% endif %}

