 
<ul>
  {% for post in site.posts %}
   {% if post.tags contains page.title %}
     <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
{% assign m = post.date | date: "%-m" %}
({{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}gennaio
  {% when '2' %}febbraio
  {% when '3' %}marzo
  {% when '4' %}aprile
  {% when '5' %}maggio
  {% when '6' %}giugno
  {% when '7' %}luglio
  {% when '8' %}agosto
  {% when '9' %}settembre
  {% when '10' %}ottobre
  {% when '11' %}novembre
  {% when '12' %}dicembre
{% endcase %} 
{{ post.date | date: "%Y" }})
<!--  <a style="color:gray" href="{{ site.baseurl }}/tags/autori/{{ post.author }}">{{ post.author }}</a> -->
</li>
   {% endif %} 
  {% endfor %}
</ul>
