<ul>
  {% if page.title == 'Archivio' %}
    {% assign anno = '2016' %}
  {% else %} 
    {% assign anno = page.title | capitalize %}
  {% endif %} 
  {% for post in site.posts %}
   {% assign annopost = post.date | date: "%Y" %}
   {% if anno == annopost %}
       <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
{% assign m = post.date | date: "%-m" %}
({{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}gennaio
  {% when '2' %}febbraio
  {% when '3' %}marzo
  {% when '4' %}aprile
  {% when '5' %}maggio
  {% when '6' %}giugno
  {% when '7' %}luglio
  {% when '8' %}agosto
  {% when '9' %}settembre
  {% when '10' %}ottobre
  {% when '11' %}novembre
  {% when '12' %}dicembre
{% endcase %} 
{{ post.date | date: "%Y" }})
 {% for tag in post.tags %}
 <a style="color:gray" href="{{ site.baseurl }}/info/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
</li>
   {% endif %} 
  {% endfor %}
</ul>

